@mixin fillscreen {
	border: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: #eee;
}

@mixin font_settings {
	font: 1em sans-serif;
	color: #000;
}

@mixin tool_panel {
	border: 1px solid #ccc;
	opacity: 0.8;
	background-color: #fff;
	white-space: nowrap;
	overflow: hidden;
	width: 100px;
	&:hover {
		opacity: 1;
	}
}

html {
	@include fillscreen;
}

body {
	@include fillscreen;
	@include font_settings;
}

input, select, button {
	@include font_settings;
}

a {
	color: #333;
}

.center_msg {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 100px;
	margin-left: -100px;
	margin-top: -50px;
	text-align: center;
	border: 1px solid #ccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 20px #ccc;
	-moz-box-shadow: 0 0 20px #ccc;
	box-shadow: 0 0 20px #ccc;
	opacity: 0.9;

	&#loading {
		background: white url('./beachball.gif') center center no-repeat;
	}

	&#not_support {
		width: 240px;
		height: 200px;
		margin-left: -125px;
		margin-top: -110px;
		padding: 10px;
		text-align: left;
	}

	&.error {
		display: none;
		border: 1px solid #c00;
	}
}



.center_btn {
	position: absolute;
	background: rgba(255, 255, 255, 0); // For IE9, make button clickable
	display: none;
	top: 50%;
	left: 50%;
	width: 450px;
	height: 250px;
	margin-left: -225px;
	margin-top: -125px;
	text-align: center;
	border: 1px solid #ccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-indent: -10000px;
	&:hover {
		-webkit-box-shadow: 0 0 10px #000;
		-moz-box-shadow: 0 0 10px #000;
		box-shadow: 0 0 10px #000;
	}
	&:active {
		-webkit-box-shadow: 0 0 10px #000 inset;
		-moz-box-shadow: 0 0 10px #000 inset;
		box-shadow: 0 0 10px #000 inset;
	}
}



#canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.left_tool {
	left: 0;
	position: absolute;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;

	@include tool_panel;

	&#help {
		top: 33px;
	}
	&#interactive {
		display: none;
		top: 200px;
	}
	&#controls {
		display: none;
		top: 80px;
	}
	&#language {
		bottom: 10px;
		li {
			padding-left: 18px;
		}
	}
	> ul {
		list-style: none;
		margin: 0;
		padding: 0;
		> li > a {
			text-decoration: none;
			color: #333;
			font-size: 0.9em;
			> .famfamfam_sprite {
				float: left;
				margin: 0 4px;
			}
		}
	}
}

.right_tool {
	right: 0;
	position: absolute;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	@include tool_panel;

	&:hover {
		opacity: 1;
	}
	&#social {
		width: 90px;
		height: 90px;
		bottom: 10px;
	}
}


#title {
	position: absolute;
	top: 0;
	left: 10%;
	width: 80%;
	height: 20px;
	margin: 0;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	opacity: 0.8;
	background-color: #fff;
	overflow: hidden;
	display: none;
	> .famfamfam_sprite {
		float: left;
		margin-right: 4px;
	}
	&:hover {
		opacity: 1;
	}
}

.panel {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 540px;
	height: 450px;
	margin-left: -270px;
	margin-top: -225px;
	padding: 0;
	border: 1px solid #ccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #fff;
	display: none;
	-webkit-box-shadow: 0 0 10px #000;
	-moz-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
	h2 {
		background-color: #e0e0e0;
		margin: 0;
		padding: 10px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		font-size: 1.5em;
		height: 28px;
		-webkit-box-shadow: 0 0 20px #ccc inset;
		-moz-box-shadow: 0 0 20px #ccc inset;
		box-shadow: 0 0 20px #ccc inset;
		-webkit-border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	.panel_left {
		margin: 0;
		position: absolute;
		top: 48px;
		bottom: 0;
		left: 0;
		width: 150px;
		background-color: #e8e8e8;
		label {
			padding: 5px;
			border-bottom: 1px solid #ccc;
			&.checked {
				-webkit-box-shadow: 0 0 10px #ccc inset;
				-moz-box-shadow: 0 0 10px #ccc inset;
				box-shadow: 0 0 10px #ccc inset;
				background-color: #fff;
			}
			&:first-child {
				//border-top: 1px solid #ccc;
			}
			> input {
				display: none;
			}
		}
	}
	.menu label {
		display: block;
	}
	.entry {
		display: none;
		position: absolute;
		top: 48px;
		bottom: 0;
		left: 150px;
		right: 0;
		padding: 10px;
		label > span {
			display: block;
		}
		input {
			max-width: 100%;
		}
	}
	button {
		font-size: 2em;
		font-weight: bold;
		position: absolute;
		bottom: 10px;
		right: 10px;
	}
}

#social {
	width: 90px;
	height: 90px;
	top: 190px;
}

#social_gplus {
	width: 90px;
	height: 90px;
	top: 80px;
}

#facebook_like, #social_gplus > div {
	position: absolute;
	bottom: 10px;
	right: 20px;
}

.famfamfam_sprite {
	display: block; background: transparent url('famfamfam_sprites.png') no-repeat; text-indent: -10000px; float: right; width: 16px; height: 16px;

	&.disk { background-position: 0 0; }
	&.award_star_bronze_1 { background-position: -18px 0; }
	&.feed { background-position: -36px 0; }
	&.page_world { background-position: -54px 0; }
	&.drive { background-position: -72px 0; }
	&.arrow_undo { background-position: 0 -18px; }
	&.arrow_refresh { background-position: -18px -18px; }
	&.application_double { background-position: -36px -18px; }
	&.accept { background-position: -54px -18px; }
	&.stop { background-position: -72px -18px; }
	&.cross { background-position: 0 -36px; }
	&.arrow_out { background-position: -18px -36px; }
	&.arrow_in { background-position: -36px -36px; }
	&.comment { background-position: -54px -36px; }
	&.comments { background-position: -72px -36px; }
	&.help { background-position: 0 -54px; }
	&.color_wheel { background-position: -18px -54px; }
	&.facebook {
		background: transparent url('http://www.facebook.com/favicon.ico') center center no-repeat;
	}
	&.googleplus {
		background: transparent url('https://plus.google.com/favicon.ico') center center no-repeat;
	}
	&.twitter {
		background: transparent url('https://twitter.com/favicon.ico') center center no-repeat;
	}
	&.plurk {
		background: transparent url('http://www.plurk.com/favicon.ico') center center no-repeat;
	}
}