body {
  perspective: 500px;
  -webkit-perspective: 300px;

  // Overwrite background-color rule in bootstrap
  background-color: transparent;
}

$transition-time: 0.5s;

#wc-canvas {
  position: absolute;
  top: 50%; left: 50%;
}

#wc-loading {
  transition:
    visibility $transition-time ease,
    opacity $transition-time ease;
  -webkit-transition:
    visibility $transition-time ease,
    opacity $transition-time ease;
  &[hidden] {
    display: inherit;
    visibility: hidden;
    opacity: 0;
  }
}

#wc-browser-support {
  position: absolute;
  top: 70%; left: 0;
  width: 100%; height: 30%;
  z-index: 4;
}

#wc-source-dialog,
#wc-dashboard {
  // XXX: Apply visibility transition to visible element
  // will stop element within from getting |focus()| programmatically.
  // Gecko: https://bugzilla.mozilla.org/show_bug.cgi?id=869512
  // WebKit and Chromium bug not filed yet.
  transition:
    opacity $transition-time ease,
    transform $transition-time ease;
  -webkit-transition:
    opacity $transition-time ease,
    -webkit-transform $transition-time ease;
  transform-origin: center 80%;
  -webkit-transform-origin: center 80%;
  &[hidden] {
    transition:
      visibility $transition-time ease,
      opacity $transition-time ease,
      transform $transition-time ease;
    -webkit-transition:
      visibility $transition-time ease,
      opacity $transition-time ease,
      -webkit-transform $transition-time ease;
    display: inherit;
    transform: rotateX(-20deg);
    -webkit-transform: rotateX(-20deg);
    visibility: hidden;
    opacity: 0;
  }
  .btn-group {
    margin-bottom: 5px;
  }
}

$icon-width: 100px;
$icon-height: $icon-width * .3333;
$hoz-shift: $icon-width * 0.13;
$shadow-length: $icon-width * 0.05;
.wc-icon-cloud {
  .error & {
    background-color: shade(#fff, 15%);
    box-shadow:
      inset 0 (- $shadow-length / 2) rgba(shade(#fff, 15%), 0.6),
      0 $shadow-length $shadow-length rgba(0, 0, 0, 0.1),
      inset 0 (- $shadow-length) $shadow-length rgba(shade(rgb(0, 100, 160), 15%), 0.1);
  }

  &:before, &:after {
    .error & {
      background-color: shade(#fff, 15%);
    }
  }
}

#wc-loading-label {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;

  margin-top: ($icon-width / 2);
  text-align: center;
}

#wc-source-dialog > .modal-body {
  min-height: 200px;
}

#wc-source-panels .btn {
  margin-right: 10px;
  margin-bottom: 10px;
}

.file-wrapper {
  position: relative;
  overflow: hidden;
  > input {
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
  }
}

#wc-dashboard {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  > .container {
    margin-top: 10px;
  }

  button.hide-label > span {
    display: none;
  }
  @media (min-width: 1200px) {
    button.hide-label > span {
      display: inherit;
    }
  }
  @media (max-width: 979px) {
    button > span {
      display: none;
    }
  }

  .btn > span {
    padding-left: 5px;
  }
}

@import "favicons/*.png";
@include all-favicons-sprites;

[class^="favicons-"], [class*=" favicons-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 14px;
  vertical-align: text-top;
}

.smaller-icon {
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
}
