body {
  perspective: 500px;
  -webkit-perspective: 300px;
  background-color: transparent; }

#wc-canvas {
  position: absolute;
  top: 50%;
  left: 50%; }

#wc-loading {
  transition: visibility 0.5s ease, opacity 0.5s ease;
  -webkit-transition: visibility 0.5s ease, opacity 0.5s ease; }
  #wc-loading[hidden] {
    display: inherit;
    visibility: hidden;
    opacity: 0; }

#wc-browser-support {
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
  height: 30%;
  z-index: 4; }

#wc-source-dialog,
#wc-dashboard {
  transition: opacity 0.5s ease, transform 0.5s ease;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transform-origin: center 80%;
  -webkit-transform-origin: center 80%; }
  #wc-source-dialog[hidden],
  #wc-dashboard[hidden] {
    transition: visibility 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
    -webkit-transition: visibility 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease;
    display: inherit;
    transform: rotateX(-20deg);
    -webkit-transform: rotateX(-20deg);
    visibility: hidden;
    opacity: 0; }

@media (max-width: 767px) {
  #wc-source-menu {
    float: none; } }
.modal-footer .input-prepend {
  margin: 0; }

.modal {
  position: absolute; }

.btn[hidden] {
  display: none; }

#wc-dashboard .btn-group {
  margin-bottom: 5px; }

#wc-about-dialog iframe {
  display: none; }

#wc-list-dialog, #wc-sharer-dialog, #wc-about-dialog {
  transition: opacity 0.5s ease, transform 0.5s ease;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease; }
  #wc-list-dialog[hidden], #wc-sharer-dialog[hidden], #wc-about-dialog[hidden] {
    transition: visibility 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
    -webkit-transition: visibility 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease;
    display: inherit;
    transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
    visibility: hidden;
    opacity: 0; }

#wc-about-icon {
  position: relative;
  height: 120px; }

#wc-about-content h1 {
  font-size: 31.5px; }
#wc-about-content h2 {
  font-size: 24.5px; }
#wc-about-content h3 {
  font-size: 17.5px;
  line-height: 20px; }

.error .wc-icon-cloud {
  background-color: #d8d8d8;
  box-shadow: inset 0 -2.5px rgba(216, 216, 216, 0.6), 0 5px 5px rgba(0, 0, 0, 0.1), inset 0 -5px 5px rgba(0, 85, 136, 0.1); }
.error .wc-icon-cloud:before, .error .wc-icon-cloud:after {
  background-color: #d8d8d8; }

#wc-loading-label {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: 50px;
  text-align: center; }

#wc-source-dialog > .modal-body {
  min-height: 200px; }

#wc-source-panels .btn {
  margin-right: 10px;
  margin-bottom: 10px; }

.file-wrapper {
  position: relative;
  overflow: hidden; }
  .file-wrapper > input {
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0; }

#wc-dashboard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  #wc-dashboard > .container {
    margin-top: 10px; }
  #wc-dashboard button.hide-label > span {
    display: none; }
  @media (min-width: 1200px) {
    #wc-dashboard button.hide-label > span {
      display: inherit; } }
  @media (max-width: 979px) {
    #wc-dashboard button > span {
      display: none; } }
  #wc-dashboard .btn > span {
    padding-left: 5px; }

.favicons-sprite, .favicons-facebook, .favicons-plurk, .favicons-tumblr, .favicons-twitter {
  background: url('images/favicons-se0bb177de3.png') no-repeat; }

.favicons-facebook {
  background-position: 0 -32px; }

.favicons-plurk {
  background-position: 0 -48px; }

.favicons-tumblr {
  background-position: 0 -16px; }

.favicons-twitter {
  background-position: 0 0; }

[class^="favicons-"], [class*=" favicons-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 14px;
  vertical-align: text-top; }

.smaller-icon {
  transform: scale(0.8);
  -webkit-transform: scale(0.8); }
